@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:300);
@import url(http://fonts.googleapis.com/css?family=Yantramanav:300);

body {
	font-size: 21px;
	font-weight: thin;
	width: 90%;
	margin: 0 auto;
}

img {
	width: 100%;
}

hr {

}

h1 {
	font-family: 'Josefin Slab', serif;
	font-size: 6em;
	text-align: center;
	padding: .25em 0 0 0;
}

h3 {
	font-family: 'Yantramanav', sans-serif;
	font-size: 1.3em;
	text-align: center;
	color: gray;
	padding: 0 0 1em 0;
}

.menu {
	font-family: 'Yantramanav', sans-serif;
	text-align: center;
	margin: 0;
	padding: .5em 0 1em 0;
	width: 100%;
}

a {
	text-decoration: none;
	color: gray;
	font-size: .8em;
	padding: .5em 4em;	
	border-right: .09em dotted gray;
}

nav li:last-child a {
    border: none;
}

li {
	display: inline-block;
}

a:hover, a:active {
    background-color: #79BC63;
    color: white;
}

@media only screen and (max-width: 900px) {
	h1 {
		text-align: center;
		font-size: 4.8em;
	}

	h3 {
		text-align: center;
		font-size: 1.1em;
	}
	
	li {
		display: block;
		text-align: center;
		font-size: 1.5em;
		font-weight: bold;
	}

	a {
		display: block;
		padding: auto;
		font-size: .7em;
		border-right: none;
		border-bottom: .09em dotted gray;
	}
}

@media only screen and (max-width: 400px) {
	h1 {
		text-align: center;
		font-size: 3.6em;
	}

	h3 {
		text-align: center;
		font-size: .9em;
	}

	a {
		font-size: .6em;
	}
}



